html {
  box-sizing: border-box;
  background: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 2em;
	padding: 2em 0 0;
	position: relative;
	width: calc(100% - 4em);

	&:before {
		content: "";
		position: fixed;
		background: #fff;
		left: 0;
		right: 0;
		height: 2em;
		top: 0;
		z-index: 9;
	}
}

#container {
	flex: 1 0 auto;
}

.lightbox-container {
	display: none;
}

/*****
**
** Utilities
**
*****/

.row {
	@include row();
}

.first {
	@include omega();
}

.one-half {
	@include span-columns(6);
}

.one-third {
	@include span-columns(4);
}

.one-fourth {
	@include span-columns(3);
}

// Clearfix
.cf {
	clear: both;
}