ul {
	padding-left: 1.5em;
	list-style-type: none;
	
	  li {
	  	padding-left: 1.5em;
	  	position: relative;

	  	&:before {
		    font-family: $icon;
		    content: '\f105';
		    position: absolute;
		    font-style: normal;
		    font-variant: normal;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		   	font-weight: 900;
		    font-size: 0.75em;
		    left: 0;
		    top: 0;
		    line-height: 2;
	  	}
	  }

	&.check-circle {
	  	
	  	li {

		  	&:before {
		  		content: '\f058';
		  	}
		}
	}

	&.check-circle-empty {
	  	
	  	li {

		  	&:before {
		  		content: '\f058';
		  		font-weight: 200;
		  	}
		}
	}

	&.check {

	  	li {
	  		
		  	&:before {
		  		content: '\f00c';
		  	}
		}
	}

	  &.arrow {

	  	li {
	  		
		  	&:before {
		  		content: '\f30b';
		  	}
		}
	}
}

ol {
	counter-reset:li;
	margin-left:0;
	padding-left: 1em;
	
	> li {
		padding-left: 1.5em;
		position: relative;
		list-style: none;

		&:before {
			content:counter(li); /* Use the counter as content */
			counter-increment:li;
			position: absolute;
		    font-style: normal;
		    font-variant: normal;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		   	font-weight: 900;
		    font-size: 0.75em;
		    top: 0;
		    left: 0;
		    width: calc(4em / 3);
		    //height: calc(4em / 3);
		    line-height: calc(3em - 4px);
		    color: $primary;
		    //transform: translateY(0.75em);
		}

		&:after {
			content: "";
			width: 1.75em;
		    position: absolute;
		    border-bottom: 1px solid rgba($primary, 0.3);
		    left: -2.5em;
		    top: calc(0.875em + 2px);
		}
	}
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
