body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-family: $serif;
  font-size: 2em;
  font-weight: 900;
  padding-bottom: .45em;
  margin: .9em 0 .45em;
  color: $secondary;
  position: relative;
  
  &:after {
    content: "";
    color: $secondary;
    position: absolute;
    left: 50%; bottom: 0;
    height: 3px;
    background: $secondary;
    width: 30px;
    transform: translateX(-50%);
  }

  @include media($medium-screen) {
    font-size: 2.6em;

    &:after {
      width: 60px;
    }
  }
}

h2 {
  font-family: $special;
  font-size: 1.4em;
  color: $secondary;
  font-weight: 900;
  text-transform: uppercase;
  
  @include media($medium-screen) {
    font-size: 1.6em;
  }
}

code {
  background: #F7F7F7;
  border-radius: $base-border-radius * 1.5;
  border: 1px solid #E0E0E0;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}

h2 code {
  font-size: 0.65em;
}

h3 {
  font-family: $special;
  font-size: 1.2em;
  color: $primary-tint;
  font-weight: 900;
  line-height: 1.3em;
  margin-bottom: 0.4em;
  text-transform: uppercase;
}

h4 {
  font-family: $serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}

h5 {
  font-family: $sans-serif;
  color: $primary-pastel;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: .4em;
  letter-spacing: .1em;
}

h6 {
  color: $secondary;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 100;
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: .4em;
  letter-spacing: .25em;
}

p {
  margin: 0 0 $small-spacing;
  color: $base-font-color;
  line-height: $base-line-height;

  em {
    //font-family: $serif;
    //font-size: .85em;
    font-style: italic;
  }
}

a {
  color: $secondary;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($secondary, 25%);
  }

  &[target="_blank"]:after {
    font-family: $icon;
    content: "\f35d";
    margin-left: 0.5em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-size: 0.75em;
  }

  &[data-featherlight] {
    cursor: pointer;
  }

  &.link-cta {

    &:after {
      font-family: $icon;
      content: '\f061';
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-weight: 900;
      font-size: 0.75em;
      margin-left: -1em;
      opacity: 0;
      transition: all 0.5s;
    }

    &:hover {

      &:after {
        display: inline-block;
        opacity: 1;
        margin-left: 1em;
      }
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

.large-text {
  font-size: 1.25em;
}

.v-large-text {
  font-size: 1.55em;
}

.small-text {
  font-size: 0.875em;
}

.v-small-text {
  font-size: 0.75em;
}

/***********************************************************************************************/
/**************************************************/